/*
 * Charlie Lees
 * CS5610 - Web Development
 * Project 1
 * Style Pages for non-landing Page(s)
 */
html {
  box-sizing: border-box;
  min-height: 100vh;
}

*,
*::after {
  box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
}

h1.title {
  border-bottom: 1px black solid
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffcc;
}

/* Section Container */
.wrapper {
  max-width: 1000px;
  width: 85%;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  display: table;
}

.members {
  max-width: 1000px;
  width: 85%;
  padding: 10px 10px 10px 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img.logo {
  /*height: 200px;
    width: 200px;*/
  height: auto;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  margin-right: auto;
  margin-bottom: auto;
}

.whitespace span {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

td.description {
  background-color: rgba(31, 97, 31, 0.9);
  padding: 10px 10px 10px 10px;
  color: white;
  border-radius: 20px;
}

table {
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

img.headshot {
  width: 100%;
  height: auto;
  border-radius: 100px;
  min-width: 100px;
}


.show{
  width:100%;
}
.contact{
  width:100%;
  height:100%;
}

@media (max-width:500px) {
  .whitespace span {
    margin: 0px 0px 0px 0px;
  }

  .wrapper h1 {
    padding: 10px 10px 10px 10px;
  }

  .wrapper {
    padding: 0px 0px 0px 0px;
  }
}
